vvv-peeker {
  --peeker-background-color: #f6fbff;
  --peeker-border-color: #dcebf7;
  --peeker-close-button-background-color: #ddefff;
  --peeker-close-button-border-color: #dcebf7;
  --peeker-text-color: #2f2f2f;
}
