.container {
  position: absolute;

  margin: 0.5rem;
  padding: 0.5rem;

  border: solid 2px grey;
  border-radius: 8px;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  background-color: whitesmoke;
}

.bar {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.bar > h2 {
  margin: 0;
}

.bar > button {
  margin-left: auto;

  font-weight: bold;
}
