.hidden {
  padding: 0 !important;

  height: 0 !important;
  width: 0 !important;
  scale: 0.2 !important;

  border: 0 !important;
  opacity: 0;

  overflow: hidden;
}

.container {
  position: absolute;
  z-index: 99;

  margin: 0.5rem;
  padding: 0.5rem;

  height: auto;
  width: auto;
  scale: 1;

  border: solid 2px grey;
  border-radius: 8px;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  background-color: whitesmoke;

  opacity: 0.97;

  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 200ms;
}

.bar {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.bar > h2 {
  margin: 0;
}

.bar > button {
  margin-left: auto;

  font-weight: bold;
}
