.hidden {
  padding: 0 !important;

  height: 0 !important;
  width: 0 !important;
  scale: 0.2 !important;

  border: 0 !important;
  opacity: 0;

  overflow: hidden;
}

.container {
  position: absolute;
  z-index: 99;

  margin: 0.5rem;
  padding: 0.5rem;

  height: auto;
  width: auto;
  scale: 1;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  background-color: #f6fbff;

  border: solid 2px #dcebf7;
  border-radius: 8px;

  border-radius: 8px;
  box-shadow:
    0 10px 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1);

  opacity: 0.97;

  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 200ms;
}

.bar {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.bar > h2 {
  margin: 0;
}

.bar > h2 > a {
  color: #3a3a3a;
}

.bar > button {
  margin-left: auto;
  padding: 0.25rem 0.5rem;

  border: solid 1px #dcebf7;
  border-radius: 8px;

  background-color: #ddefff;

  font-weight: bold;

  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 200ms;
}

.bar > button:hover {
  background-color: #d7e6f4;
}
